@import '../../scss/index';

.appbar {
  display: flex;
  background-color: $appbar-bg;
  &--horizontal {
    height: rem(72);
    align-items: center;
    justify-content: space-between;
  }
  &--vertical {
    width: rem(72);
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}
