@import '../../scss/index';

.custom-btn {
  color: $white;
  border-radius: rem(50);
  padding: rem(16) rem(24);
  cursor: pointer;
  &--primary {
    @include themed() {
      color: t('btn-primary-label');
      background-color: t('btn-bg-primary');
    }
  }

  &--secondary {
    @include themed() {
      color: t('btn-secondary-label');
      background-color: t('btn-bg-secondary');
    }
  }

  &--tertiary {
    @include themed() {
      color: t('btn-tertiary-label');
      background-color: t('btn-bg-tertiary');
    }
  }

  &--danger {
    @include themed() {
      color: t('btn-danger-label');
      background-color: t('btn-bg-danger');
    }
  }

  &--small {
    width: rem(73);
  }

  &--medium {
    width: rem(89);
  }

  &--large {
    width: rem(131);
  }

  &--fluid {
    width: 100%;
  }
}
