@import '../../../scss/index';

.option {
  display: flex;
  &--horizontal {
    width: rem(80);
    justify-content: center;
    align-items: center;
  }
  &--vertical {
    justify-content: center;
    align-items: center;
    width: rem(72);
    height: rem(72);
  }
}
