@import '../../scss/index';

.filterable-list {
  width: 100%;
  min-height: rem(770);
  @media screen and (min-width: rem(375)) {
    width: rem(350);
  }
  @media screen and (min-width: rem(400)) {
    width: rem(350);
  }
  @media screen and (min-width: rem(500)) {
    width: rem(450);
  }
  @media screen and (min-width: rem(768)) {
    width: rem(672);
  }
  @media screen and (min-width: rem(1440)) {
    width: rem(730);
  }
}
