@import '../scss/index';

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: inherit;
  width: 100%;
  @include themed {
    background-color: t('app-bg');
  }
}
