@import '../scss/index';

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include themed {
    background-color: t('app-bg');
  }
  @include breakpoint-up($medium) {
    min-height: inherit;
  }
}
