@import '../../../scss/';

.counter {
  display: flex;
  flex-direction: column;
  &__label {
    font-size: rem(20);
    font-weight: bold;
    @include themed() {
      color: t('list-item-label-primary');
    }
  }
  &__count {
    font-size: rem(12);
    font-weight: bold;
    @include themed() {
      color: t('list-item-label-secondary');
    }
  }
}
