//------------------
//  element
//  variant
//  theme
//------------------

//-------------------
// Palette
//-------------------

$white: #ffffff;
$cornflower-blue: #7b5cfa;
$heliotrope: #9175ff;
$mirage: #1e2139;
$ebony-clay: #252946;
$selago: #e0e4fa;
$bali-hai: #888eaf;
$ship-cove: #7e88c4;
$vulcan: #0d0f17;
$burnt-sienna: #ec5555;
$american-pink: #ff9999;
$ghost-white: #f9f9fb;
$eerie-black: #141624;
$charcoal: #373b53;
$eucalyptus: #33d7a0;
$dark-orange: #ff9100;
$white-ice: #f3fdfa;
$bridal-heath: #fff9f0;
$athens-gray: #f4f4f5;
$big-stone: #1a3149;
$blackcurrant: #332b3f;
$martinique: #2d314f;

$themes: (
  light: (
    app-bg: $ghost-white,
    app-text-primary: $vulcan,
    app-text-secondary: $bali-hai,
    logo-top-box: $cornflower-blue,
    logo-bottom-box: $heliotrope,
    btn-bg-primary: $cornflower-blue,
    btn-bg-secondary: $ghost-white,
    btn-bg-danger: $burnt-sienna,
    btn-bg-tertiary: $eerie-black,
    btn-primary-label: $white,
    btn-secondary-label: $ship-cove,
    btn-tertiary-label: $selago,
    btn-danger-label: $white,
    btn-toggle-theme: $selago,
    appbar-bg: $mirage,
    appbar-vertical-divider: $charcoal,
    list-item-bg: $white,
    list-item-label-primary: $vulcan,
    list-item-label-secondary: $bali-hai,
    status-badge-paid-label: $eucalyptus,
    status-badge-paid-bg: $white-ice,
    status-badge-paid-circle: $eucalyptus,
    status-badge-pending-label: $dark-orange,
    status-badge-pending-bg: $bridal-heath,
    status-badge-pending-circle: $dark-orange,
    status-badge-draft-label: $charcoal,
    status-badge-draft-bg: $athens-gray,
    status-badge-draft-circle: $charcoal,
    arrow-icon: $cornflower-blue,
    form-header-primary: $vulcan,
    form-header-secondary: $bali-hai,
    form-section-header: $cornflower-blue,
    form-input-label: $ship-cove,
    form-input-text: $vulcan,
    modal-header: $vulcan,
    modal-bg: $charcoal,
    modal-message: $bali-hai,
  ),
  dark: (
    app-text-primary: $white,
    app-bg: $eerie-black,
    app-text-secondary: $white,
    logo-top-box: $cornflower-blue,
    logo-bottom-box: $heliotrope,
    btn-bg-primary: $cornflower-blue,
    btn-bg-secondary: $ebony-clay,
    btn-bg-danger: $burnt-sienna,
    btn-bg-tertiary: $eerie-black,
    btn-primary-label: $white,
    btn-secondary-label: $selago,
    btn-tertiary-label: $selago,
    btn-danger-label: $white,
    btn-toggle-theme: $ship-cove,
    appbar-bg: $mirage,
    appbar-vertical-divider: $charcoal,
    list-item-bg: $mirage,
    list-item-label-primary: $white,
    list-item-label-secondary: $bali-hai,
    status-badge-paid-label: $eucalyptus,
    status-badge-paid-bg: $big-stone,
    status-badge-paid-circle: $eucalyptus,
    status-badge-pending-label: $dark-orange,
    status-badge-pending-bg: $blackcurrant,
    status-badge-pending-circle: $dark-orange,
    status-badge-draft-label: $selago,
    status-badge-draft-bg: $martinique,
    status-badge-draft-circle: $selago,
    arrow-icon: $cornflower-blue,
    form-header-primary: $vulcan,
    form-header-secondary: $bali-hai,
    form-section-header: $cornflower-blue,
    form-input-label: $ship-cove,
    form-input-text: $vulcan,
    modal-header: $white,
    modal-bg: $charcoal,
    modal-message: $bali-hai,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
