//------------------
//  element
//  variant
//  theme
//------------------

//-------------------
// Palette
//-------------------
$white: hsl(0, 0%, 100%);
$cornflower-blue: hsl(252, 94%, 67%);
$heliotrope: hsl(252, 100%, 73%);
$mirage: #1e2139;
$ebony-clay: hsl(233, 30%, 21%);
$selago: hsl(231, 73%, 93%);
$bali-hai: hsl(231, 20%, 61%);
$ship-cove: hsl(231, 37%, 63%);
$vulcan: hsl(228, 29%, 7%);
$burnt-sienna: hsl(0, 80%, 63%);
$american-pink: hsl(0, 100%, 80%);
$ghost-white: hsl(240, 27%, 98%);
$eerie-black: hsl(233, 30%, 11%);
$charcoal: hsl(231, 20%, 27%);
$eucalyptus: hsl(160, 67%, 52%);
$dark-orange: hsl(34, 100%, 50%);

$themes: (
  light: (
    app-bg: $ghost-white,
    app-text-primary: $vulcan,
    app-text-secondary: $bali-hai,
    logo-top-box: $cornflower-blue,
    logo-bottom-box: $heliotrope,
    btn-bg-primary: $cornflower-blue,
    btn-bg-secondary: $ghost-white,
    btn-bg-danger: $burnt-sienna,
    btn-bg-tertiary: $eerie-black,
    btn-primary-label: $white,
    btn-secondary-label: $ship-cove,
    btn-tertiary-label: $selago,
    btn-danger-label: $white,
    btn-toggle-theme: $ship-cove,
    appbar-bg: $mirage,
    appbar-vertical-divider: $charcoal,
    list-header-label-primary: $vulcan,
    list-header-label-secondary: $bali-hai,
    list-item-bg: $white,
    list-item-label-primary: $vulcan,
    list-item-label-secondary: $bali-hai,
    status-badge-paid-label: $eucalyptus,
    status-badge-paid-bg: $eucalyptus,
    status-badge-pending-label: $dark-orange,
    status-badge-pending-bg: $dark-orange,
    status-badge-draft-label: $selago,
    status-badge-draft-bg: $charcoal,
    arrow-icon: $cornflower-blue,
    form-header-primary: $vulcan,
    form-header-secondary: $bali-hai,
    form-section-header: $cornflower-blue,
    form-input-label: $ship-cove,
    form-input-text: $vulcan,
    modal-header: $vulcan,
    modal-bg: $charcoal,
    modal-message: $bali-hai,
  ),
  dark: (
    app-text-primary: $white,
    app-bg: $eerie-black,
    app-text-secondary: $white,
    logo-top-box: $cornflower-blue,
    logo-bottom-box: $heliotrope,
    btn-bg-primary: $cornflower-blue,
    btn-bg-secondary: $ebony-clay,
    btn-bg-danger: $burnt-sienna,
    btn-bg-tertiary: $eerie-black,
    btn-primary-label: $white,
    btn-secondary-label: $selago,
    btn-tertiary-label: $selago,
    btn-danger-label: $white,
    btn-toggle-theme: $ship-cove,
    appbar-bg: $mirage,
    appbar-vertical-divider: $charcoal,
    list-header-label-primary: $white,
    list-header-label-secondary: $selago,
    list-item-bg: $white,
    list-item: $mirage,
    list-item-label-primary: $vulcan,
    list-item-label-secondary: $selago,
    status-badge-pending-bg: $dark-orange,
    status-badge-paid-bg: $eucalyptus,
    status-badge-draft-label: $selago,
    status-badge-draft-bg: $charcoal,
    arrow-icon: $cornflower-blue,
    form-header-primary: $vulcan,
    form-header-secondary: $bali-hai,
    form-section-header: $cornflower-blue,
    form-input-label: $ship-cove,
    form-input-text: $vulcan,
    modal-header: $white,
    modal-bg: $charcoal,
    modal-message: $bali-hai,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
