@import '../../../scss/index';

.divider {
  @include themed() {
    background-color: t('appbar-vertical-divider');
  }
  float: left;
  &--horizontal {
    width: rem(0.5);
    height: inherit;
  }
  &--vertical {
    height: rem(0.5);
    width: inherit;
  }
}
